{
  "swagger" : "2.0",
  "info" : {
    "description" : "Gene-list producer based on MSigDB gene sets",
    "version" : "1.0.0.0",
    "title" : "API for a producer based on MSigDB gene sets",
    "termsOfService" : "http://software.broadinstitute.org/gsea/msigdb_license_terms.jsp"
  },
  "host" : "indigo.ncats.io",
  "basePath" : "/msigdb_producer",
  "paths" : {
    "/transformer_info" : {
      "get" : {
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/transformer_info"
            }
          }
        },
        "x-accepts" : "application/json"
      }
    },
    "/transform" : {
      "post" : {
        "parameters" : [ {
          "in" : "body",
          "name" : "query",
          "description" : "transformer query",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/transformer_query"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/gene_info"
              }
            }
          }
        },
        "x-contentType" : "application/json",
        "x-accepts" : "application/json"
      }
    }
  },
  "definitions" : {
    "transformer_query" : {
      "type" : "object",
      "properties" : {
        "genes" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/gene_info"
          }
        },
        "controls" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/property"
          }
        }
      }
    },
    "gene_info" : {
      "type" : "object",
      "required" : [ "gene_id" ],
      "properties" : {
        "gene_id" : {
          "type" : "string"
        },
        "attributes" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/attribute"
          }
        }
      },
      "example" : {
        "attributes" : [ {
          "name" : "name",
          "source" : "source",
          "value" : "value"
        }, {
          "name" : "name",
          "source" : "source",
          "value" : "value"
        } ],
        "gene_id" : "gene_id"
      }
    },
    "attribute" : {
      "type" : "object",
      "properties" : {
        "name" : {
          "type" : "string"
        },
        "value" : {
          "type" : "string"
        },
        "source" : {
          "type" : "string"
        }
      },
      "example" : {
        "name" : "name",
        "source" : "source",
        "value" : "value"
      }
    },
    "property" : {
      "type" : "object",
      "properties" : {
        "name" : {
          "type" : "string"
        },
        "value" : {
          "type" : "string"
        }
      }
    },
    "transformer_info" : {
      "type" : "object",
      "properties" : {
        "name" : {
          "type" : "string"
        },
        "function" : {
          "type" : "string"
        },
        "parameters" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/parameter"
          }
        }
      },
      "example" : {
        "function" : "function",
        "name" : "name",
        "parameters" : [ {
          "allowed_values" : [ "allowed_values", "allowed_values" ],
          "default" : "default",
          "name" : "name",
          "type" : "type"
        }, {
          "allowed_values" : [ "allowed_values", "allowed_values" ],
          "default" : "default",
          "name" : "name",
          "type" : "type"
        } ]
      }
    },
    "parameter" : {
      "type" : "object",
      "properties" : {
        "name" : {
          "type" : "string"
        },
        "type" : {
          "type" : "string"
        },
        "default" : {
          "type" : "string"
        },
        "allowed_values" : {
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        }
      },
      "example" : {
        "allowed_values" : [ "allowed_values", "allowed_values" ],
        "default" : "default",
        "name" : "name",
        "type" : "type"
      }
    }
  }
}